$if Gdb
  C-o: "next\n"
  C-p: "step\n"
  # C-s: "step\n"
  # C-j: "si\n"
  C-n: "dashboard source scroll 1\n"
  C-k: "dashboard source scroll -1\n"
  C-r: "dashboard assembly scroll 1\n"
  C-t: "dashboard assembly scroll -1\n"
  C-y: "b _start\nrun\n"
  C-u: "target remote localhost:1234"
$endif

$if psql
set editing-mode vi
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"
$endif

# Valid ctrl commands:
# C-k  ✓
# C-n  ✓
# C-o  ✓
# C-p  ✓
# C-r  ✓
# C-t  ✓
# C-u
# C-v
# C-w
# C-y  ✓
