#!/bin/bash

# startup() {
#   if [[ $(pgrep "$1" -c) -lt 1 ]]; then
#     $@ &
#   fi
# }

export GTK_THEME=Adwaita:dark
export GTK2_RC_FILES=/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc
export QT_STYLE_OVERRIDE=adwaita-dark

# Moved to awesome
# Startup commands
setxkbmap latam # Doens't work on the first couple of tries on awesome for some reason...
# setxkbmap -option caps:swapescape
# startup nm-applet
# startup xautolock \
#   -notify 120 -notifier "lockscreen" \
#   -time 7 -locker "systemctl suspend" \
#   -detectsleep &

# startup pasystray
# startup picom -b &
# startup greenclip daemon &
